@media screen and (max-width: 1024px) {
  .menu-list{
    grid-template-columns: 1fr 1fr;
  }
    .about{
        display: grid;
        grid-template-areas: 
        'ftprofile biodata biodata'
        'ftprofile ceritaku ceritaku';
      }
      
      .ftprofile{
        margin: 10px;
        
        grid-area: ftprofile;
        min-height: 300px;
        place-content: center;
      }
      
      .ceritaku{
        margin: 10px;
        grid-area: ceritaku;
        font-size: 18px;
      }
      
      .biodata{
        grid-area: biodata;
        margin: 10px 0 10px 10px;
        font-size: 18px;
      }

      .container2{
        grid-template-areas: 
        'pendidikan pendidikan'
        'karir karir';
    }
    .pendidikan{
        grid-template-areas: 
        'jd-pendidikan jd-pendidikan'
        'logosarjana logosmk'
        'sarjana smk';
      }

}
@media screen and (max-width: 768px) {
  .menu-toggle{
    display: flex;
  }

  .menu-list ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: black;
    top: 0;
    height: 100vh;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
    transform: translateX(100%);transition: all 1s;
    opacity: 0;
  }
  .menu-list ul.slide{
    opacity: 1;
    transform: translateX(0);
  }
  .menu-list{
    grid-template-columns: 3fr 1fr;
  }
  
    .about{
        display: grid;
        grid-template-areas: 
        'ftprofile'
        'biodata'
        'ceritaku';
      }
      
      .ftprofile{
        margin: 10px;
        
        grid-area: ftprofile;
        min-height: 300px;
        place-content: center;
      }
      
      .ceritaku{
        margin: 10px;
        grid-area: ceritaku;
        font-size: 15px;
      }
      
      .biodata{
        grid-area: biodata;
        margin: 10px 0 10px 10px;
        font-size: 15px;
      }
      .container2{
          grid-template-areas: 
          'pendidikan'
          'karir';
      }
      
      .pendidikan{
        display: grid;
        grid-template-areas: 
        'jd-pendidikan'
        'logosarjana'
        'sarjana'
        'logosmk'
        'smk';
      }

        .karir{
            display: grid;
            grid-template-areas: 
            'jd-karir'
            'logombk'
            'mbk'
            'logoandra'
            'andra';
          }

          .container3{
            display: grid;
            grid-template-areas:
            'skill'
            'sertificate';
          }
}
