* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/bg-card.jpg);
  background-size: cover;
}
header {
  display: inline;
  color: white;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 20px;
   margin: 20px 10px;
   background-image: url(../assets/main-bg.jpg);
   background-size: cover;
}

main {
  width: 100%;
  padding: 0 5%;
  display: grid;
}

.aboutsaya{
  display: grid;
  grid-template-columns: auto auto;
}

.ftprofile {
  border-radius: 50%;
  border: 3px ridge black;
  margin: 0 40px;
}
.personal {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.content-profiles{
  display: grid;
  grid-template-columns: 50% 50%;
}

.about{
  display: grid;
  grid-template-columns: 30% 70%;
}

.sarjana, .smk{
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
.biodata {
}
.logo-kerja{
  margin: auto;
}

.kerja{
  display: grid;
  grid-template-columns: 40% 60%;
}
